# A Demonstration Desktop Entry of a Snapped App.
# Refer the Desktop Entry Specification on how to write this file:
# https://specifications.freedesktop.org/desktop-entry-spec
[Desktop Entry]
Version=1.0
Type=Application
Name=My Awesome App
Comment=The demonstration application of Snapcrafters Template Plus
Exec=my-awesome-app.my-app-name
Icon=${SNAP}/meta/gui/icon.png
# If my-app-name has its own icon
#Icon=${SNAP}/meta/gui/my-app-name.png
Categories=Development
