# Demonstration Desktop Entry for Snapcrafters Template Plus
# Refer the Desktop Entry Specification on how to write this file:
# https://specifications.freedesktop.org/desktop-entry-spec
[Desktop Entry]
Version=1.0
Type=Application
Name=My Awesome App
Comment=The demonstration application of Snapcrafters Template Plus
TryExec=my-awesome-app-launch
Exec=my-awesome-app-launch
Icon=my-awesome-app
Categories=Development
